@use "../sass/partials/typography" as *;
@use "../sass/partials/variables" as *;
@use "../sass/partials/base" as *;

.card {
  &-container {
    background-color: var(--card-bg-color);
    width: 90%;
    max-width: 1110px;
    margin: 2rem auto 3rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &-container::before {
    content: "";
    display: block;
    background: var(--img-bg-color) url(./images/image-header-mobile.jpg) center / cover no-repeat;
    background-blend-mode: multiply;
    aspect-ratio: 4 / 3;
  }

  &__content {
    padding: 3em 1.5em 3em;
    text-align: center;

    &-heading {
      font-weight: var(--font-weight-bold);
    }
  }

  &__content-text {
    margin-top: clamp(1.067rem, 0.855rem + 0.845vw, 1.667rem);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height);
  }

  &__content-heading--accent {
    color: var(--accent-color);
  }

  &__stats-number,
  &__stats-heading {
    display: block;
  }

  &__stats-number {
    font-size: 1.6rem;
    font-weight: var(--font-weight-bold);
  }

  &__stats + &__stats {
    margin-top: 2rem;
  }

  &__stats-container {
    margin-top: clamp(2.667rem, 1.962rem + 2.817vw, 4.667rem);
  }

  &__stats-heading {
    text-transform: uppercase;
    color: var(--stats-heading-color);
    font-family: var(--secondary-font);
    font-weight: var(--font-weight-light);
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }
}

@media (min-width: 890px) {
  .card {
    &-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: left;
      margin: 0;
      padding: 0;
    }

    &__content {
      margin: 0;
      padding: 5em;
      text-align: left;
    }

    &__content-text {
      max-width: 40ch;
    }

    &-container::before {
      content: "";
      background-image: url(./images/image-header-desktop.jpg);
      grid-row: 1;
      grid-column: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__stats-container {
      display: flex;
      justify-content: space-between;
      padding-right: clamp(0rem, -4.855rem + 8.182vw, 3rem);
    }

    &__stats + &__stats {
      margin-top: 0;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
