@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@300;400&display=swap");
h1 {
  font-size: clamp(2rem, 1.859rem + 0.563vw, 2.4rem);
}

:root {
  --body-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(246, 38%, 16%);
  --img-bg-color: hsl(277, 64%, 61%);
  --primary-text-color: hsla(0, 0%, 100%, 0.7);
  --text-white: #fff;
  --accent-color: hsl(277, 64%, 61%);
  --stats-heading-color: hsla(0, 0%, 100%, 0.5);
  --footer-links: hsl(277, 81%, 75%);
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
  --body-font-size: 15px;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --line-height: 1.6;
}

html {
  font-size: var(--body-font-size);
  font-family: var(--primary-font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-white);
  min-height: 100vh;
}

a {
  color: var(--img-bg-color);
}

a:hover,
a:focus {
  color: var(--text-white);
}

ul {
  list-style-type: none;
}

@media (min-width: 890px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.card-container {
  background-color: var(--card-bg-color);
  width: 90%;
  max-width: 1110px;
  margin: 2rem auto 3rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.card-container::before {
  content: "";
  display: block;
  background: var(--img-bg-color) url(./images/image-header-mobile.jpg) center/cover no-repeat;
  background-blend-mode: multiply;
  aspect-ratio: 4/3;
}
.card__content {
  padding: 3em 1.5em 3em;
  text-align: center;
}
.card__content-heading {
  font-weight: var(--font-weight-bold);
}
.card__content-text {
  margin-top: clamp(1.067rem, 0.855rem + 0.845vw, 1.667rem);
  color: var(--primary-text-color);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
}
.card__content-heading--accent {
  color: var(--accent-color);
}
.card__stats-number, .card__stats-heading {
  display: block;
}
.card__stats-number {
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
}
.card__stats + .card__stats {
  margin-top: 2rem;
}
.card__stats-container {
  margin-top: clamp(2.667rem, 1.962rem + 2.817vw, 4.667rem);
}
.card__stats-heading {
  text-transform: uppercase;
  color: var(--stats-heading-color);
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-light);
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

@media (min-width: 890px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .card__content {
    margin: 0;
    padding: 5em;
    text-align: left;
  }
  .card__content-text {
    max-width: 40ch;
  }
  .card-container::before {
    content: "";
    background-image: url(./images/image-header-desktop.jpg);
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card__stats-container {
    display: flex;
    justify-content: space-between;
    padding-right: clamp(0rem, -4.855rem + 8.182vw, 3rem);
  }
  .card__stats + .card__stats {
    margin-top: 0;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}/*# sourceMappingURL=main.css.map */