:root {
  --body-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(246, 38%, 16%);
  --img-bg-color: hsl(277, 64%, 61%);
  --primary-text-color: hsla(0, 0%, 100%, 0.7);
  --text-white: #fff;
  --accent-color: hsl(277, 64%, 61%);
  --stats-heading-color: hsla(0, 0%, 100%, 0.5);
  --footer-links: hsl(277, 81%, 75%);

  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;

  --body-font-size: 15px;

  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --line-height: 1.6;
}
